.main {
	padding: 7% 0;
    width: 95%;
    margin: 0 auto;
}

.section {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    &.separator {
        border-bottom: 1px solid;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 5em;

        span {
            font-family: 'Heebo', Arial, sans-serif;
            font-size: 0.2em;
        }
    }

    h3 {
        font-size: 3.5em;
        line-height: 1em;

        &.under {
            display: flex;
            align-items: baseline;
        }

        span {
            font-family: 'Heebo', Arial, sans-serif;
            font-size: 0.3em;
        }
    }

    h5 {
        font-size: 1.2em;
    }

    &.two-col {
        & > div {
            width: 50%;
        }
    }
}

.heatmap-section {
    margin-bottom: 30px;
    @include respond-to('medium') {
        // transform: scale(0.7);
    }
}

.pie-section {
    flex-direction: column;
    align-items: center;
    @include respond-to('medium') {
        transform: scale(0.6);
    }
}

.cloud-section {
    flex-direction: column;
    align-items: center;
}

.since-section {

    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .caption {
        width: 50%;
        text-align: left;
        display: flex;
        align-items: center;
        margin-left: 5px;
        line-height: 41px;
        font-size: 1.3em;
    }
}

.interesting-section {
    display: flex;
    flex-direction: column;

    .causes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cause-item {
            display: flex;
            flex-direction: column;
            border-right: 1px solid;

            &:last-child {
                border-right: 0;
            }

            & > .blk {
                font-size: 2.5em;
            }

            .icon-wrap {
                position: relative;
                margin: 10px 0 0;

                .bolt {
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 1;
                    animation: fade 5s infinite;

                    @keyframes fade {
                        0%,100% { opacity: 0 }
                        50% { opacity: 1 }
                    }
                }
            }

            .bottom-wrap {
                font-size: 0.7em;
            }
        }
    }
}

.source {
    a {
        font-size: 0.5em;
    }
}

.blink {
    opacity: 1;
    animation: blink 5s linear;

    @keyframes blink {
        10% { opacity: 0 }
        11% { opacity: 1 }
        12% { opacity: 0 }
        13% { opacity: 1 }
        14% { opacity: 0 }
        50% { opacity: 1 }
        60% { opacity: 0 }
        100% { opacity: 1 }
    }
}